body{ 
    background-color: white;
    }
.ds-header{
    background-color: pink;
    width: 100vw;
    height: 2cm;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lg1 img{
height:1cm;
width: 1cm;
border-radius: 5px;
margin-left: 1cm;
}
.nav-1{
list-style: none;
color: red;
margin-right: 1cm;
}
.nav{
    display: inline-block;
    margin: auto 10px;
}
.image2{
    margin-top: 3cm;
    display: flex;
    justify-content: center;
}
.nav-2{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 70%;
}
strong{color: red;}
.box{
    margin-top: 1cm;
    background-color: black;
    height: 10cm;
text-align: center;
}
.conten3{color: white;
padding-top: 1cm;}
span{color: red;}
.button{
    width: 150px;
    height: 40px;
    border: 2px solid red;
    border-radius: 20px;
    padding-top: 1em;
    box-sizing: content-box;
}
.box1{
    display: inline-block;
}

